@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">




        <h1 class="display-4"   style="color:indigo; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ">Welcome, to SmartPhone Repair cente</h1>

       <img src="~/images/repair.jpg" />
       
    </div>
